.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.responsive-table th,
.responsive-table td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ccc;
}

.responsive-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.responsive-table tr {
  border: 1px solid #ccc;
}

.responsive-table td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

button {
  margin: 4px;
  border: none;
  padding: 5px 5px;
  background-color: white;
}

.edit-form {
  background: grey;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 300px;
  background-color: grey;
}

.edit-form h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.edit-form form {
  display: flex;
  flex-direction: column;
}

.edit-form label {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.edit-form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-form button {
  padding: 10px 20px;
  font-size: 16px;
  background: #3065c0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-form button.cancel {
  background: #ccc;
}

.no-data-message {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
