.table-data {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px;

}

th, td {
    border: none;
    padding: 16px;
    text-align: left;

}
th, td {
    padding: 2rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover{
    background-color: #f2f2f2;
}

button {
  margin: 4px;
  border: none; /* Remove the button border */
  padding: 5px 5px; 
  background-color: white;/* Add padding for spacing */
}

/* tableData.css */
.edit-form {
    background: grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px;
    background-color: grey;
  }
  
  .edit-form h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .edit-form form {
    display: flex;
    flex-direction: column;

  }
  
  .edit-form label {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .edit-form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-form button {
    padding: 10px 20px;
    font-size: 16px;
    background: #3065c0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-form button.cancel {
    background: #ccc;
  }

  .no-data-message {
    color: #999; /* Text color */
    font-size: 18px; /* Font size */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Add some spacing above and below the message */
    /* You can add more styles as per your design preferences, such as font family, background color, etc. */
  }
  
  /* Styles for screens smaller than 768px */


/* Styles for screens between 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  table {
    font-size: 14px;
  }
}

/* Styles for screens larger than 1024px */


/* Styles for screens between 412px and 512px */


